* {
    box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.count {
  font-size: 3rem;
}

button {
  background-color: cornflowerblue;
  padding: 10px 16px;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.changeBy {
  height: 2rem;
  width: 4rem;
  font-size: 1rem;
  margin: 16px 8px;
}

